*{
    margin: 0px;
padding: 0px;
box-sizing: border-box;

}
.container{
    width:50%;
    height:100vh;
    border: 2px solid black;
    margin: auto;
    display: grid;
    font-size:3rem;
    text-align: center;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20vh 60vh 20vh;
}
.nav{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.content{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 2;
    grid-row-end:3;
    background-color:red;
}
.aside{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end:3;
    background-color:yellow;
}
.footer{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 3;
    grid-row-end:4;
    background-color:pink;
}