*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:black;
    height:100vh;
}
.box{
    width:100px;
    height:100px;
    margin: 100px;
    background-color: blue;
    transition-property: background-color border;
    transition-duration: 2s;
}
.box:hover{
    background-color: white;
    border-radius: 50%;
}